

<%= form_for(@trainer) do |f| %>

   <% if @trainer.errors.any? %>
    <% @trainer.errors.full_messages.each do |msg| %>
      Error:<%= msg%><br><br>
        <%end%>
    <%end%>


 <table>
      <tr>
      <th>  <%= f.label :name %></th>
      <td><%= f.text_field :name  %></td>
      </tr>
      <tr>
      <th><%= f.label :gender %></th>
      <td><%= f.select :gender, ['Male', 'Female'], {:prompt => "Please Select a Gender"} %></td>
      </tr>
  </table>
<br>
 <%= f.submit %>
<% end %>