<h1>Add a New Trainer</h1>

<%=link_to "<< Trainers List", trainers_path %>
<br>
<br>


<%= form_for(@trainer) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name  %><br>
    <br>
    <%= f.label :gender %>
    <%= f.text_field :gender  %><br>
    <br>

 <%= f.submit %>
<% end %>

