<h1>Trainer</h1>


<%= link_to "<< Back to List", trainers_path%>

<div>
  <table>
    <tr>
      <th>Name</th>
      <td><%= @trainer.name %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= @trainer.gender %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @trainer.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @trainer.updated_at %></td>
    </tr>
  </table>
<br>

<h3>Feedbacks</h3>
  <%=link_to "Add Feedback for this Trainer", new_feedback_path(@trainer) %><br>

   <table>
      <tr>
        <th>Stars</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
    <%@trainer.feedbacks.each do |fd|%>
      <tr>
        <td><%= fd.rating%> </td>
        <td><%= fd.comment%> </td>
        <td>
        <%= link_to "Edit", edit_feedback_path(fd) %> 
        <%= link_to "Delete", delete_feedback_path(fd)%><br>  
        </td> 
      </tr>
    <%end%>
  </table>
  

<h3>Appointments List</h3>
  <table>
    <tr>
      <th>Client Name</th>
      <th>Appointment time</th>
    </tr>
  <% @trainer.appointments.each do |appt|%>
    <tr>
      <td><%=appt.client.name%></td>
      <td><%= appt.time.strftime("%b %d, %Y at %k:%M")%></td>
    </tr>
      <%end%>
 </table>
</div>

